:root {
    --black-text-color: #333344;
    --button-bg-color: #66a1cd;
    --button-bg-color2: #C3B2E6;
    --button-outline: #629DCC;
    --star-bg-color:#FFF6B7;
    --star-outline:#EBCA50;
    --tab-color: #FFFD89;
    --bg-color: #D3BDFF;
    --bg2-color: #F8D4F3;
    --grey-highlight: #EAEAEA;
}