@import url('colors.css');

html {
  scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to right, var(--bg-color), var(--bg2-color));
    margin-top: 120px;
    overflow-x: hidden;
}

a {
    color: white
}

p {
    font-family: Nunito;
    margin: 0;
    color: var(--black-text-color);
}

h1 {
    color: var(--black-text-color);
    font-family: Nunito;
    margin: 0;
    font-weight: normal;
}

button {
    background: linear-gradient(to right, var(--button-bg-color), var(--button-bg-color2));
    color: white;
    border: 2.4px solid var(--button-outline);
    border-radius: 20px;
}

.projects-section,
.contact-section {
    width: 100vw;
    height: 820px;
    padding: 2rem;
}